*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
}

h1, h2 ,h3, h4, h5, h6{
    font-family: monospace;
}
a, a:hover{
    text-decoration: none;
}
.p.Space{
    line-height: 20px;
}
.green{
    width: 800px;
    height: 400px;
    background: green;
    position: relative;
    margin: 125px 550px;
}
.green:hover{
    background: darkgreen;
}
.red{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    top: 28%;
    right: 38%;

}
.fb{
    width: 300px;
    position: fixed;
    top: 40%;
    right: -240px;
    transition: 1s;
}
.fb:hover{
    right: -1px;
    cursor: pointer;
}
.twitter{
    width: 300px;
    position: fixed;
    top: 50%;
    right: -240px;
    transition: 1s;
}
.twitter:hover{
    right: -1px;
    cursor: pointer;
}
.whatsapp{
    width: 195px;
    position: fixed;
    top: 59%;
    right: -134px;
    transition: 1s;

}
.whatsapp:hover{
    right: -1px;
    cursor: pointer;
}
.Social-Retanguler{
    width: 100%;
    height: 200px;
    background:darkslategray;
}
.Social-icon{
    text-align: center;
    width: 100%;
}
.Social-icon li{
    list-style: none;
    display: inline-block;
}
.Social-icon li a .fa{
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-top: 60px;
    margin-left: 20px;
    font-size: 30px;
    border-radius: 100%;
    transition: 1s;
    color: white;
}
.Social-icon li a .fa-facebook:hover{
    background: #0572E6;
}
.Social-icon li a .fa-instagram:hover{
    background: #EC4A5A;
}
.Social-icon li a .fa-behance:hover{
    background: #0054F7;
}
.Social-icon li a .fa-youtube:hover{
    background: #FF0000;
}